.hero {
	padding: 80px 20px;

	background:
		linear-gradient(180deg,
			#f7f9fc 0%,
			#eef2f7 100%);
	text-align: center;
}

.hero-container {
	max-width: 1200px;
	margin: auto;
}

.hero-title {
	font-size: 44px;
	font-weight: 700;
	color: #2f528f;
	margin-bottom: 20px;
	line-height: 1.2;
}

.hero-subtitle {
	font-size: 20px;
	color: #5f6b7a;
	margin-bottom: 60px;
}

.hero-visual {

	position: relative;

	height: 340px;

	display: flex;

	align-items: center;

	justify-content: space-between;
	padding: 0 150px;

}

.hero-img {

	position: absolute;

	max-width: 100%;

}

/* центр */

.hero-center {

	width: 520px;

	z-index: 2;

}

/* слева */

.hero-left {

	width: 360px;

	left: 0;

	bottom: 0;

	z-index: 1;

}

/* справа */

.hero-right {

	max-width: 600px;

	right: 0;

	bottom: 0;

	z-index: 1;

}

.hero-btn {

	margin-top: 40px;

	background: linear-gradient(180deg,
			#ffd43b,
			#f4b400);

	border: none;

	padding: 18px 40px;

	font-size: 20px;

	border-radius: 12px;

	font-weight: 600;

	cursor: pointer;

	transition: .25s;

	box-shadow:

		0 10px 25px rgba(0, 0, 0, .12);

}

.hero-btn:hover {

	transform: translateY(-2px);

	box-shadow:

		0 15px 35px rgba(0, 0, 0, .18);

}

/* TABLET */

@media(max-width:1000px) {

	.hero-title {

		font-size: 34px;

	}

	.hero-center {

		width: 420px;

	}

	.hero-left {

		width: 280px;

	}

	.hero-right {

		width: 260px;

	}

}

/* MOBILE */

@media(max-width:700px) {

	.hero {

		padding: 60px 20px;

	}

	.hero-title {

		font-size: 26px;

	}

	.hero-subtitle {

		font-size: 16px;

	}

	.hero-visual {

		height: auto;

		display: flex;

		flex-direction: column;

		gap: 20px;

	}

	.hero-img {

		position: relative;

	}

	.hero-center {

		width: 100%;

		order: 1;

	}

	.hero-left {

		width: 80%;

		order: 2;

	}

	.hero-right {

		width: 70%;

		order: 3;

	}

	.hero-btn {

		width: 100%;

		font-size: 18px;

	}

}