.timeline-item {
  display: flex;
  gap: 12px;
  margin: 0 8px 16px;
  text-align: left;
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #C5CBD3
}

.dot > span {
  display: block;
  text-align: center;
  width: 24px;
}

.dark {
  font-weight: bold;
  color: #6FB02A;
}

.dot.done {
  background: #66B522;
  border-color: #66B522;
  border-radius: 50%;
  background: #66B522;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center
}

.dot.current {
  background: #f4d719;
  border-color: #f4d719;
  border-radius: 50%;
  background: #f4d719;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center
}

.timeline {
  position: relative;
}

.max-width {
  max-width: calc(100vw * 0.7);
}

.timeline-title {
  font-size: 18px;
  font-weight: 700
}

.timeline-sub {
  margin-top: 4px;
  font-size: 14px;
  color: #9AA6B2
}

.timeline-in-progress {
  display: flex;
  justify-content: space-between;
}

.timeline-item.active {
  background: #EEF4EC;
  padding: 12px 8px;
  border-radius: 16px;
  margin: 0 0 16px;
}

.swiper-button-next,
.swiper-button-prev {
  background: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
}

.swiper-button-next {
  padding-left: 2px;
  top: auto;
  left: 60px;
  bottom: 14px;
}

.swiper-button-prev {
  padding-right: 2px;
  top: auto;
  left: 10px;
  bottom: 14px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #212121;
  font-size: 1.25rem;
}
